.basketText {
  width: 41px;
  height: 20px;
  background: rgba(242, 242, 243, 1);
  border-radius: 6px;
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
